h1 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}
body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0px;

  margin: 0 auto;
  color: #141414;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4th;
}
